@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Lato:wght@100;300;400;700&family=Raleway:wght@100;200;300;400;500;600&display=swap');
/*
:root {
    --header-height: 4.5rem;

    --first-color: #2b9348;
    --first-color_alt: #1d7a37;
    --first-color_alt_light: #36ba5b;
    --second0color:#80b918;
    --light-color: #ffffff;
    --text-color: #171f07;
    --body-color: #ffffff;
    --container-color: #f1fcdc;

    --body-font: "Lato", sans-serif;
    --font-logo: 'Italiana', serif;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --small-font-size: 0.813rem;

    --font-light: 300;
    --font-medium: 400;
    --font-bold: 700;

    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;

    --Z-fixed: 100;
    --z-tooltip: 10;
}
*/
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    font-size: 0.938rem;
    color: #171f07;
    line-height: 1.6;
    background-color: #a55001;
    margin: 0 10%;
}
header{
    height: auto;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
.container> main, aside{
    display: flex;
}
.logo-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
}
.logo-img img {
    max-height: 100%;
    max-width: 78%;
    height: auto;
}
.logo-img .button{
    display: grid;
}
.header{
    position: sticky;
    display: grid;
    width: 100%;
    top: -400px;
    left: 0;
    z-index: 100;
    background-color: #fff;
    background-size: 100%;
    border-radius: 10px;
}
.bd-container{
    max-width: 1024px;
    width: calc(100% - 2rem);
    margin: 0 auto;
}
.logo{
    font-family: 'Italiana', sans-serif;
    background: linear-gradient(to right, #b95a00 0%, #522800 100%);
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.4s ease-in-out;
    font-size: 2rem;
    margin-left: 6rem;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}
.logo:hover{
    letter-spacing: 3px;
}
.h1 .logo{
    color: linear-gradient(to right, #a55001 0%, #522800 100%);
}
.bd-grid{
    display: grid;
    gap: 1.5rem;
}
.bg-container{
    background-color: #f1fcdc;
}
.bg-nav{
    background-color: rgb(206, 203, 203);
    border-radius: 10px;
    width: 100%;
    margin-top: -1.5rem;
}
.bd-container.fixed-nav{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    align-items: center;
    transition: all 0.4s ease-in-out;
}
.section{
    padding: 4rem 0 2rem;
}
.section-title, .section-subtitle{
    text-align: center;
}
.section-title{
    font-family: 'Italiana', serif;
    font-size: 1.5rem;
    letter-spacing: 4px;
    color: #2b9348;
    margin-top: 3rem;
}

.section-subtitle{
    display: block;
    color: #000;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: var(--ab-1);
}
.section-text{
    font-size: 1rem;
    color: #000;
    line-height: 24px;
    margin-bottom: var(--ab-2);
}
.btn{
    width: 100%;
    background-image: linear-gradient(to right, #b95a00 0%, #522800);
    border: none;
    outline: none;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 1);
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 4px;
    text-align: center;
    color: #fff;
    border-radius: 6px;
    display: inline-block;
    margin: auto;
    transition: all 0.4s ease-in-out;
}
.btn:hover{
    letter-spacing: 6px;
}
.btn-outline{
    width: 100%;
    background-color: transparent;
    border: 1px solid #2b9348;
    outline: none;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 1);
    padding: 0.5rem 1.5rem;
    font-weight: 700;
    letter-spacing: 4px;
    text-align: center;
    color: #fff;
    border-radius: 6px;
    display: inline-block;
    margin: auto;
    transition: all 0.4s ease-in-out;
}

.btn-outline:hover{
    border: 1px solid #fff;
    color: #fff;
}
.nav{
    max-width: 1024px;
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
}
.nav__menu{
    display: flex;
}
.nav__list{
    text-align: center;
}

.nav__list li{
    display: inline;
    color: #000;
}
.nav__list a{
    gap: 2rem;
    justify-content: space-between  ;
}

.nav__link{
    font-size: 1rem;
    font-weight: 400;
    color: #000;
    margin-right: 1rem;
    
    transition: all 0.5s ease-in-out;
}

.nav__link.logo{
    position: sticky;
}
.nav__link:hover{
    color: #522800;
    font-weight: 700;
    font-size: 1.3rem;
    letter-spacing: 2px;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
main, aside{
    position: relative;
    margin-top: 1rem;
}
main{
    flex: 1;
    text-align: justify;
    width: 55%;
    flex-direction: column;
    display: flex;
    align-self: flex-end;
    margin: 1rem 1rem 0 0;
}

aside {
    background-color: #f5f5dc;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 1);
    margin-top: 1rem;
    align-items: flex-start;
}
.main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.gap{
    margin: 4rem 0 3rem 0;
}
.image-right {
    float: right;
    margin: 0 0 20px 20px;
    max-width: 40%;
    clear: right;
    border-radius: 15px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.menu{
    background-color: #f5f5dc;
    padding: 1.2rem;
    border-radius: 10px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 1);
    flex-direction: column;
}
.menu-container {
    display: flex;
    flex-direction: column;
}
.menu-title{
    text-align: center;
}
.menu-drink,
.menu-snack {
    flex: 1;
}

.drink-title, .snack-title{
    margin-bottom: 5px;
    font-weight: bold;
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    height: 205.42;
}
.drink-content, .snack-content{
    display: inline-block;
    width: 100%;
    text-align: justify;
}
.menu-title, .menu-drink, .menu-snack {
    margin-bottom: 10px;
}
.product > .price{
    text-align: right;
}

.price{
    text-align: right;
}
footer {
    margin-top: 0.4rem;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
    border-radius: 10px;
}

.footer-content {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
}

.contact-info {
    flex: 1;
}

.contact-info h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.contact-info p {
    margin: 5px 0;
}

.copyright {
    text-align: right;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
@media screen and (max-width: 480px) {
    .header {
        width: 100%;
        background-color: #fff !important;
        padding-bottom: 10rem;
    }

    .nav {
        padding: 0 1rem;
        justify-content: center;
        background-color: #fff !important;
    }

    .nav__list {
        position: sticky;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-bottom: -10rem;
    }

    .nav__list li {
        margin: 0.2rem 0;
    }

    .logo {
        font-size: 1.5rem;
        margin-left: 0;
        background-color: #fff !important;
    }

    main, aside {
        margin-top: 1rem;
        height: auto; 
    }
    main {
        text-align: justify;
        width: 100%;
    }
    .demo1, .demo2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image-right {
        float: none;
        margin: 0;
        max-width: 100%;
        order: 1; 
    }
    
    .content {
        order: 0;
    }
    .menu {
        width: 100%;
        padding: 1rem;
        background-color: #fff !important;
        flex-direction: column;
    }

    .menu-title {
        text-align: center;
    }

    .menu-drink, .menu-snack {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
        margin-left: 3rem;
    }

    .drink-content, .snack-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .drink-title, .snack-title {
        text-align: center;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .product {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: -0.2rem;
    }

    .price {
        display: flex;
        justify-content: flex-end;
    }
    footer {
        margin-top: 0.4rem;
        position: relative;
        border-radius: 5px;
    }
}
